

body {
  line-height: 1;
  color: black;
  background: white;
  margin: 0;
  color: #2d282a;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}


.global_container {
  float: none;
  height: auto;
  margin: 0 auto;
  position: relative;
  width: 100%;
  background: #ffffff center 0;

}

.header{
  padding: 18px 0 16px;
  background: #2d292a center 0;


}

.top{
  margin: 0 auto;
  width: 100%;
  color: #eff3f4;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}

.main-content {
  position: relative;
}

.col-1 {

  padding: 0 0 0;

  position: relative;

  width: 100%;
  background: url(../images/1.png) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  background-size: cover;
}

.row-1 {
  position: relative;
  background-color: #ffffff;
  /* -webkit-box-shadow: 0 15px 30px 0 rgba(45, 40, 42, 0.06);

  -moz-box-shadow: 0 15px 30px 0 rgba(45, 40, 42, 0.06);
  box-shadow: 0 15px 30px 0 rgba(45, 40, 42, 0.06); */
}

.navbar {

  margin: 0 auto;
  padding: 0 60px;

  position: relative;

}

.logo {
  float: left;
  margin: 41px 0 0;
  height: 32px;
  width: 200px;
}

.nav-btn {
  float: right;
  margin: 27px 0 0;

  padding: 17px 18px 16px;
  position: relative;

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #e12a18;

  -webkit-box-shadow: 0 15px 30px 0 rgba(225, 42, 24, 0.2);
  -moz-box-shadow: 0 15px 30px 0 rgba(225, 42, 24, 0.2);
  box-shadow: 0 15px 30px 0 rgba(225, 42, 24, 0.2);
}

.nav-btn-text {
  margin: 0 0 0 14px;
  color: #ffffff;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.14em;
  text-align: center;

}

.reviews {
  float: right;
  margin: 0 135px 0 0;
  padding: 15px 12px;
  position: relative;
  background: #e12a18;
}

.group-1 {
  display: table;
  margin: 0 auto;
  position: relative;

}

.star {
  display: table;
  margin: 0 auto;
  position: relative;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

.rating-text {
  margin: 8px 0 0;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.06em;
  line-height: 20px;
  text-align: center;
}

.text-style {
  font-size: 0.6rem;
  font-weight: 600;
}

.nav {
  float: right;
  margin: 30px 50px 0 0;
  position: relative;

}

.nav-list {
  position: relative;
  list-style: none;
}

.nav-list li {
  float: left;
  margin: 0 43px 0 0;
}

.nav-list li:last-child {
  margin-right: 0;
}

.nav-item {
  color: #2f292b;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.content-1 {
  margin: 0 auto ;
  padding: 0 269px 0 300px;
  position: relative;


  /* width: 1920px; */
}

.wellness {
  float: left;
  margin: 0 11px 0 0;
  position: relative;
  width: 50%;
}

.text {
  width: 450px;
  font-size: 2.5rem;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 0px;
}

.text-style-2 {
  line-height: 1.2;
}

.text-style-3 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 56px;
}

.wrapper {
  height: 100px;
  position: relative;
  width: 502px;

}

.wind{
  height: 20px;
  left: 40%;
  position: absolute;
  top: 7px;
  width: 300px;
  background: #ffffff;
  -webkit-box-shadow: 0 15px 30px 0 rgba(45, 40, 42, 0.1);
  -moz-box-shadow: 0 15px 30px 0 rgba(45, 40, 42, 0.1);
  box-shadow: 0 15px 30px 0 rgba(45, 40, 42, 0.1);
  margin-left: -199px;
}

.wind-holder{
  left: 50%;
  position: absolute;
  padding: 7px 0 7px;

  width: 30px;
  height: 20px;
  background: #e12a18;
  -webkit-box-shadow: 0 15px 30px 0 rgba(45, 40, 42, 0.1);
  -moz-box-shadow: 0 15px 30px 0 rgba(45, 40, 42, 0.1);
  box-shadow: 0 15px 30px 0 rgba(45, 40, 42, 0.1);
  margin-left: -251px;
}

.wind-1{
  display: block;
  margin: 0 auto;
  height: 16px;
  width: 20px;
}

.filter{
  height: 20px;
  left: 40%;
  position: absolute;
  top: 46px;
  width: 300px;
  background: #ffffff;
  -webkit-box-shadow: 0 15px 30px 0 rgba(45, 40, 42, 0.1);

  -moz-box-shadow: 0 15px 30px 0 rgba(45, 40, 42, 0.1);

  box-shadow: 0 15px 30px 0 rgba(45, 40, 42, 0.1); /*drop shadow*/

  margin-left: -199px;
}

.filter-holder{
  left: 50%;

  position: absolute;
  top: 40px;
  padding: 7px 0 7px;
  width: 30px;
  height: 20px;

  background: #e12a18;
  -webkit-box-shadow: 0 15px 30px 0 rgba(45, 40, 42, 0.1);
  -moz-box-shadow: 0 15px 30px 0 rgba(45, 40, 42, 0.1);
  box-shadow: 0 15px 30px 0 rgba(45, 40, 42, 0.1);
  margin-left: -251px;
}

.filter-1{

  display: block;
  margin: 0 auto;
  height: 16px;
  width: 20px;
}

.home {
  height: 20px;
  left: 40%;
  position: absolute;
  top: 87px;
  width: 300px;
  background: #ffffff;
  -webkit-box-shadow: 0 15px 30px 0 rgba(45, 40, 42, 0.1);
  -moz-box-shadow: 0 15px 30px 0 rgba(45, 40, 42, 0.1);
  box-shadow: 0 15px 30px 0 rgba(45, 40, 42, 0.1);
  margin-left: -199px;
}

.home-holder {
  left: 50%;
  position: absolute;
  top: 80px;
  padding: 8px 0 7px;
  width: 30px;
  height: 20px;
  background: #e12a18;
  -webkit-box-shadow: 0 15px 30px 0 rgba(45, 40, 42, 0.1);
  -moz-box-shadow: 0 15px 30px 0 rgba(45, 40, 42, 0.1);
  box-shadow: 0 15px 30px 0 rgba(45, 40, 42, 0.1);
  margin-left: -251px;
}

.home-1 {
  display: block;
  margin: 0 auto;
  height: 16px;
  width: 20px;
}

.text-2 {
  left: 70%;
  position: absolute;
  top: 0;
  font-weight: 600;
  line-height: 30px;
  margin-left: -170px;
  margin-top: 0px;
  font-size: 0.7rem;
}

.wrapper-2 {
  height: 342px;

  margin: 19px 0 0 1px;
  position: relative;
  width: 485px;
}

.text-3 {
  left: auto;
  position: absolute;
  top: 60px;
  font-weight: 600;
  font-size: 0.65rem;
  line-height: 18px;
  margin-left: 0;
}

.content-1-btn {

  margin-left: 0;
  padding: 15px 0;
  position: absolute;
  top: 15px;
  width: 160px;
  -webkit-border-radius: 35.49px;
  -moz-border-radius: 35.49px;
  border-radius: 35.49px;
  background: #e12a18;
  -webkit-box-shadow: 0 15px 30px 0 rgba(28, 112, 200, 0.2);
  -moz-box-shadow: 0 15px 30px 0 rgba(28, 112, 200, 0.2);
  box-shadow: 0 15px 30px 0 rgba(28, 112, 200, 0.2);
}

.text-4 {
  margin: 1px 0 0;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: 0.14em;
  text-align: center;
}

.group-2 {
  left: 50%;
  padding: 22px 18px;
  position: absolute;
  top: 115px;
  width: 230px;
  -webkit-border-radius: 15.01px;
  -moz-border-radius: 15.01px;
  border-radius: 15.01px;
  background: #ffffff;
  -webkit-box-shadow: 0 15px 30px 0 rgba(45, 40, 42, 0.1);
  -moz-box-shadow: 0 15px 30px 0 rgba(45, 40, 42, 0.1);
  box-shadow: 0 15px 30px 0 rgba(45, 40, 42, 0.1);
  margin-left: -242.5px;
}

.img-3{
  height: 8px;
  width: 8px;
}

.text-5 {
  margin: 6px 0 0;

  color: #757575;
  font-size: 0.5rem;
  font-weight: 600;
  line-height: 12px;
}

.img-4 {
  float: left;
  margin: 5px 7px 0 0;
  width: 30px;
  -webkit-border-radius: 26.45px;
  -moz-border-radius: 26.45px;
  border-radius: 26.45px;
}

.text-6 {
  margin: 17px 0 0;
  color: #222222;
  font-size: 0.5rem;
  font-weight: bold;
}

.group-3{
  left: 35%;
  padding-top: 0;
  padding-bottom: 0;
  position: absolute;
  top: 0;
  width: 204px;

  margin-left: 0;
}

.img-5{
  margin-top: 10px;
  width: 110px;
  height: 100px;
}

.wrapper-3 {
  float: left;
  height: 789px;
  position: absolute;
  width: 602px;
  left: 800px;
  top: 50px;
}

.img-6-holder {
  left: 60%;
  position: absolute;
  padding: 20px 0;
  top: 0;
  width: 602px;
  background: url('../images/29.png') no-repeat ;
  background-size: 400px 400px ;
  margin-left: -301px;
}

.img-6 {
  display: block;
  margin-right: 0;
  margin-left: 20px;
  height: 350px;
  width: 350px;
}

.img-7 {
  left: 50%;
    position: absolute;
    top: 430px;
    margin-left: -150px;
    height: 90px;
    width: 200px;
}

.img-8 {
    left: 50%;
    position: absolute;
    top: 70px;
    margin-left: -145px;
    height: 430px;
    width: 190px;
}

.content-2 {
  margin: 27px 0 0;
  position: relative;
  width: 100%
}





.text-7 {

  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  margin: 80px 0 0;
}

.row-3 {
  margin: 58px 0 0;
  padding-left: 275px;
}


.row-3 > * {
  float: left;
  margin: 0 70px 0 0;
}

.brands {
  margin: 0 auto;
  position: relative;

}




.text-8 {
  margin: 51px 0 0;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
}

.wrapper-4 {
  height: 1213px;
  margin: 47px 0 0;
  position: relative;
  width: 1555px;
}

.about-us {
  left: 50%;
  position: absolute;
  top: 543px;

  margin-left: -572.5px;
}

.img-21 {
  left: 50%;
  position: absolute;
  top: 350px;
  margin-left: -777.5px;
  width: 400px;
}

.img-22 {
  float: left;
  width: 500px;
}

.col-2 {
  float: left;
  position: relative;
  padding-left: 50px;

}

.text-9 {
  width: 622px;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 2;
}

.text-style-4 {
  font-size: 2.5rem;
  font-weight: 800;


}


.text-style-8 {
  color: #1c70c8;
  font-size: 1rem;
  font-weight: bold;

}

.text-style-9 {
  font-size: 0.6rem;
  font-weight: 600;
  line-height: 24px;
}

.layer-71 {
  display: block;
  margin: 10px 0 0;
  position: relative;
}

.img-24 {
  left: 45%;
  position: absolute;
  top: 170px;
  margin-left: -365.5px;
  width: 500px;
}

.img-25{
  left: 55%;
  position: absolute;
  top: 190px;

  width: 400px;
}

.text-10{
  left: 41%;
  position: absolute;
  top: 350px;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  margin-left: -302.5px;
}

.text-11{
  left: 40%;
  position: absolute;
  top: 390px;
  width: 259px;
  font-size: 0.6rem;
  font-weight: 500;
  line-height: 2;
  text-align: center;
  margin-left: -391.5px;
}

.img-26{
  left: 43%;
  position: absolute;
  margin-top: 100px;
  width: 200px;
  border: 10px solid rgba(2, 47, 142, 0.1);
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;

  -webkit-box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);

  -moz-box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);

  margin-left: -412.5px;

}

.col-3{
  left: 42%;

  position: absolute;
  top: 350px;
  width: 259px;



}

.text-12{
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;

}

.text-13{
  margin: 18px auto 0;
  font-size: 0.6rem;
  font-weight: 500;
  line-height: 2;
  text-align: center;
}

.img-27{
  left: 41%;
  position: absolute;
  top: 0;
  width: 200px;
  border: 10px solid rgba(2, 47, 142, 0.1);
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  -webkit-box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
  margin-left: 32.5px;
  margin-top: 140px;
}

.col-4{
  left: 37%;
  position: absolute;
  top: 350px;
  width: 259px;
  margin-left: 498.5px;
}

.text-14{
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.text-15{
  margin: 18px auto 0;
  font-size: 0.6rem;
  font-weight: 500;
  line-height: 2;
  text-align: center;
}

.img-28{
  left: 39%;
  position: absolute;
  top: 0;
  margin-top: 143px;
  width: 200px;
  border: 10px solid rgba(2, 47, 142, 0.1);
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  -webkit-box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
  margin-left: 477.5px;
}
